
<div class="container">
    <h2>Login</h2>
    <div class="card">
        <div class="card-body">
            <form action="/usuarios/login" method="POST">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" placeholder="Digite seu email" required>
                </div><br>
                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="password" class="form-control" name="senha" placeholder="Digite sua senha" required>
                </div><br>
                <a href=""><button type="submit" class="btn btn-primary mt-1 btn-sm">Entrar</button></a>
            </form>
        </div>
    </div>
</div>